body {
    overflow: hidden;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

main #relogio {
    font-size: 150px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media (max-width: 845px) {
    main {
        height: 100vh;
        width: 100%;
    }

    main #relogio {
        width: 100%;
    }
}