body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    height: 80vh;
    overflow: hidden;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.horario {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-weight: bold;
    font-weight: bold;
    color: #333333;
    font-size: 150px;
    margin-bottom: 35px;
}

.data {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 45px;
}

@media (width < 750px) {

    body {
        flex-direction: column-reverse;
        height: 90vh;
    }

    .horario {
        max-width: 200px;
        font-size: 90px;
    }
}

@media (width < 590px) {
    .data {
        font-size: 25px;
    }
}