body {
    background-size: 400% 100%;
    background-image: linear-gradient(to right, white, orange);
    animation: slide 5s linear alternate infinite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    height: 80vh;
    overflow: hidden;
    text-align: center;
}

@keyframes slide {
    0% {
        background-position-x: 100%;
    }

    100% {
        background-position: 400%;
    }
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    font-size: 110px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

@media (width < 590px) {

    body {
        height: 90vh;
    }

    main {
        max-width: 200px;
    }
}